footer{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    margin-top: 90px;
    border-top: 1px solid #ff2f283d;
    justify-content: center;
}
.icon-link{
    align-items: center;
    gap: 1rem;
}
$redes: (
    facebook:blue,
    instagram: purple,
    whatsapp: green,
    github:white,
    twitter: rgb(0, 183, 255)
);
.bi-facebook{
    background-color: blue;
}
.bi-whatsapp{
    background-color: green; 
}
.bi-instagram{
    background-color: purple;
}
.bi-github{
    background-color: white;
}
.bi-twitter{
    background-color: rgb(0, 183, 255);
}