header{
    background-image: url(../img/HD\ wallpaper_\ How\ to\ Train\ Your\ Dragon\,\ movies\,\ simple\ background\,\ Black\ background\,\ dragon\ face\,\ Green\ eyes.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}