.main-card{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 25px;
    padding: 10px;
    
}
@media screen and (min-width: 992px) {
    .main-card{
        flex-direction: column; 
        justify-content: center;
    }
}